@import "./params";
@import "./fonts";
@media (min-width: $mobWidth) and (max-width: $lapTopWidth) {
  .content {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    .second_block {
      display: grid;

      padding-top: 190px;
      padding-bottom: 505px;

      .column:first-child {
        display: grid;
        padding-left: 30px;
        padding-bottom: 100px;

        .title {
          font-family: Mulish;
          font-size: 24px;
          font-weight: 800;
          line-height: 30px;
          color: #222;
          width: 320px;
          padding-bottom: 12px;
          border-bottom: 3px solid #d7db2d;
          margin-bottom: 44px;
        }

        .description {
          color: #000;
          font-family: "Noto Sans";
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin-bottom: 44px;
        }

        a.btn {
          display: none;
          padding: 24px 44px;
          background-color: #222222;
          border-radius: 24px;
          text-decoration: none;
          font-family: "Noto Sans";
          font-size: 16px;
          font-weight: 800;
          line-height: 100%;
          color: #fff;
          width: max-content;
        }
      }

      .column:last-child {
        position: relative;

        img {
          position: absolute;
          overflow: hidden;
          width: 100%;
          top: -190px;
        }
      }
    }

    .thirth_block {
      position: relative;
      margin-bottom: 128px;
      padding: 0 30px;

      .potato {
        position: absolute;
        left: 45%;
        bottom: -220px;
        z-index: -1;
      }

      .btns-next-prev {
        display: flex;
        align-items: center;
        gap: 10px;

        #btn-prev-news,
        #btn-next-news {
          padding: 16px 20px;
          border-radius: 8px;
          background: #e7e7e7;
          aspect-ratio: 1/1;
          cursor: pointer;
        }
      }
      .title {
        margin-bottom: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          color: var(--Text-heads-black, #222);
          font-family: Mulish;
          font-size: 38px;
          font-weight: 800;
          line-height: 40px;
        }
      }

      .glider_news {
        position: relative;
        .glider-track {
          gap: 8px;
        }

        .slide {
          border-radius: 24px;
          background: #fff;
          padding: 24px;
          display: grid;

          .image {
            height: 204px;
            border-radius: 24px;
            margin-bottom: 14px;
            overflow: hidden;
          }

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 24px;
            transition: transform 0.5s;
          }

          .date {
            color: var(--Text-text-black, #414141);
            font-family: "Noto Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            float: left;
            opacity: 0.5;
          }

          .title_news {
            color: var(--Text-text-black, #414141);
            font-family: "Noto Sans";
            font-size: 16px;
            font-weight: 500;
            line-height: 160%;
            height: 96px;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 10px;
          }

          a.btn_news {
            text-decoration: none;
            padding: 24px 44px;
            border-radius: 24px;
            border: 1px solid var(--Button-primary-black, #222);
            font-family: "Noto Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 100%;
            text-align: center;
            background-color: #fff;
            box-shadow: 0 0 0 0 #fff;
            transition: background-color 0.5s, box-shadow 0.5s;
            color: #000000;

            &:hover {
              background: #222;
              box-shadow: 0px 8px 0px 0px #d7db2d;
            }
          }

          &:hover {
            a.btn_news {
              background-color: #222;
              color: #fff;
            }

            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .fourth_block {
      display: grid;
      gap: 20px;
      grid-column-gap: 24px;
      margin-bottom: 130px;
      padding: 0 16px;

      .column {
        position: relative;
        aspect-ratio: 9/10;
        border-radius: 24px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content auto;
        overflow: hidden;
        padding: 36px 0;
        padding-left: 22px;

        .title {
          font-family: Mulish;
          font-size: 24px;
          font-weight: 800;
          line-height: 120%;
          margin-bottom: 24px;
          z-index: 3;
        }

        .description {
          font-family: "Noto Sans";
          font-size: 16px;
          font-weight: 500;
          line-height: 160%;
          z-index: 3;

          ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-left: 30px;
          }
        }
        &:last-child {
          a.btn-white {
            &:hover {
              box-shadow: 0 8px 0 0 #222;
            }
          }
        }
        a.btn-white {
          padding: 24px 44px;
          border-radius: 24px;
          background: #fff;
          color: #414141;
          text-decoration: none;
          font-family: "Noto Sans";
          font-size: 16px;
          font-weight: 800;
          line-height: 100%;
          width: max-content;
          height: max-content;
          align-self: flex-end;
          transition: box-shadow 0.5s ease-in-out;
          &:hover {
            box-shadow: 0px 8px 0px 0px #d7db2d;
          }
          z-index: 3;
        }

        a.btn-black {
          padding: 24px 44px;
          border-radius: 24px;
          background: #222222;
          color: #ffffff;
          text-decoration: none;
          font-family: "Noto Sans";
          font-size: 16px;
          font-weight: 800;
          line-height: 100%;
          width: max-content;
          height: max-content;
          align-self: flex-end;

          &:hover {
            box-shadow: 0px 8px 0px 0px #d7db2d;
          }

          z-index: 3;
        }

        .lines {
          position: absolute;
          right: 0;
          bottom: 0;
        }

        .dog {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 2;
        }

        &:first-child {
          .title,
          .description {
            color: #fff;
          }

          .dog {
          }
        }

        &:nth-child(2) {
          .title,
          .description {
            color: #222;
          }
        }

        &:last-child {
          .title,
          .description {
            color: #222;
          }
        }
      }
    }
  }
}
//banner
@import "./components/banner.scss";

//cards-slider
@import "./components/page-cards.scss";
//main form footer

@import "./components/footer.scss";

//checkbox styles
@import "./components/checkbox.scss";
