@import "./css/params";
@import "./css/fonts";

* {
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 1296px;
  --Text-heads-black: #222;
  --Bg-primary-lime: #d7db2d;
}

:root {
  --font-family: Noto Sans;
  --second-family: Mulish;
  --third-family: Montserrat;
}

//Menu
@import "css/components/menu.scss";

@media (max-width: $maxWidth) {
  body > img {
    display: none;
  }
}
body {
  background-color: #f6f6f5;
  overflow-x: hidden;
}

h3,
.h3 {
  color: var(--Text-heads-black, #222);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;

  &.accented {
    display: inline-block;
    position: relative;
    padding-bottom: 12px;

    width: auto;

    @media (min-width: 1024px) {
      &.accented {
        display: inline-block;
        position: relative;
        margin-bottom: 44px;
        padding-bottom: 12px;
        width: auto;
      }
    }
    &.underline {
      border-bottom: 3px solid #d7db2d;
    }

    &.double {
      &::after {
        display: block;
        width: 100%;

        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="368" height="18" viewBox="0 0 368 18" fill="none"><path d="M2 2.16822C105.958 2.16793 269.668 0.964368 366 5.00003M4 16H364" stroke="%23D7DB2D" stroke-width="3" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }

      @media (max-width: 760px) {
        &::after {
          display: block;
          width: 100%;
          height: auto;
          content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="180" height="18" viewBox="0 0 180 18" fill="none"><path d="M2 2.16822C105.958 2.16793 269.668 0.964368 366 5.00003M4 16H364" stroke="%23D7DB2D" stroke-width="3" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }

      &-long {
        &::after {
          display: block;
          width: 100%;
          height: auto;
          content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="516" height="14" viewBox="0 0 368 18" fill="none"><path d="M2 2.16822C105.958 2.16793 269.668 0.964368 366 5.00003M4 16H364" stroke="%23D7DB2D" stroke-width="3" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }

        @media (max-width: 760px) {
          &::after {
            display: block;
            width: 100%;
            height: auto;
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="300" height="20" viewBox="0 0 300 20" fill="none"><path d="M2 2.16822C105.958 2.16793 269.668 0.964368 366 5.00003M4 16H364" stroke="%23D7DB2D" stroke-width="3" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }
      }
    }

    &.curved {
      stroke-width: 3px;
      stroke: var(--Bg-primary-lime, #d7db2d);

      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 6px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="188" height="10" viewBox="0 0 188 10" fill="none"><path d="M2 2.1322C63.4199 2.1322 124.705 0.595589 186 8" stroke="%23D7DB2D" stroke-width="3" stroke-linecap="round"/></svg>');
        background-size: 100%;
      }
    }

    &.curved-long {
      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 15px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="467" height="16" viewBox="0 0 467 16" fill="none" preserveAspectRatio="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M69.6593 3.63238C46.9488 3.69846 24.2296 3.76457 1.5 3.76457C0.671573 3.76457 0 3.09299 0 2.26457C0 1.43614 0.671573 0.764567 1.5 0.764567C24.2125 0.764567 46.9206 0.698404 69.6251 0.632252C201.707 0.247413 333.667 -0.137068 465.643 12.507C466.468 12.586 467.072 13.3186 466.993 14.1432C466.914 14.9679 466.182 15.5723 465.357 15.4933C333.541 2.86456 201.747 3.24804 69.6593 3.63238Z" fill="%23D7DB2D"/></svg>');
        background-size: 100%;
      }
    }

    &.circled {
      fill: var(--Bg-primary-lime, #d7db2d);
      padding-top: 12px;

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: -5px;
        right: -25px;
        height: 100%;

        background: {
          image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 224 68" fill="none" preserveAspectRatio="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M185.239 10.8021C176.07 7.57105 165.896 5.88293 155.901 4.8109C140.278 1.60334 121.656 0.280904 103.138 0.529307C77.4584 0.873771 51.757 4.24247 34.2379 9.93667C26.2689 12.5269 14.8295 17.601 7.57484 23.9034C3.96517 27.0392 1.16181 30.676 0.601406 34.662C0.019485 38.8011 1.90489 42.8411 6.59844 46.5604C9.86393 49.1483 13.7902 51.219 17.7689 52.9814C61.4167 72.3153 122.079 70.3032 168.633 58.8062C175.591 57.088 182.492 55.0355 188.867 52.2295C190.085 51.6933 191.296 51.123 192.488 50.5193C194.563 49.8402 196.574 49.1305 198.513 48.3898C199.067 48.1781 199.626 47.9669 200.188 47.7547C203.67 46.4403 207.262 45.084 210.487 43.273C213.414 41.6291 216.233 39.7455 218.694 37.6925C220.919 35.8362 222.389 33.9507 223.069 32.0146C223.767 30.0267 223.588 28.1097 222.744 26.3573C221.923 24.652 220.501 23.1556 218.783 21.8449C217.056 20.527 214.951 19.3371 212.652 18.2694C204.079 14.288 192.225 11.7403 185.239 10.8021ZM171.762 12.2816C171.782 12.2843 171.802 12.2866 171.823 12.2884C175.873 12.7369 179.794 13.1843 183.554 13.6148C183.869 13.6509 184.199 13.6912 184.541 13.7357C188.91 15.2958 193.01 17.2156 196.712 19.6003C202.347 23.2307 205.481 26.9818 206.163 30.5793C206.818 34.0317 205.296 37.9086 200.175 42.0958C197.612 44.1907 194.577 46.083 191.334 47.7401C173.469 53.5541 150.582 57.1226 127.244 58.7176C101.169 60.4997 74.6554 59.8105 54.1567 57.0922C46.5053 56.0776 37.0882 54.8031 28.3902 52.5966C19.6356 50.3758 11.8906 47.275 7.37694 42.7767C5.39202 40.7985 4.61572 38.8109 4.58033 36.8966C4.54418 34.9414 5.27878 32.8778 6.65722 30.797C9.43155 26.609 14.561 22.7406 19.6102 20.2465C25.9669 17.1067 32.9786 14.7041 40.3893 12.8505C40.3358 13.1019 40.3463 13.3705 40.4329 13.6322C40.693 14.4187 41.5414 14.8455 42.328 14.5854C61.2801 8.3182 86.1044 6.85706 111.511 7.58765C132.292 8.1852 153.357 10.244 171.762 12.2816ZM6.80195 46.3036C6.25965 45.8524 5.74457 45.3853 5.25924 44.9016L6.32358 43.8337M44.8841 58.8319C48.0144 59.301 51.0149 59.7018 53.7623 60.0661C74.4922 62.8151 101.21 63.504 127.449 61.7107C136.308 61.1052 145.127 60.2158 153.653 59.0239C119.067 65.7017 79.1238 66.9928 44.8841 58.8319ZM196.719 16.0783C201.743 17.3184 207.035 18.9686 211.388 20.9903C213.564 22.0012 215.464 23.0857 216.963 24.2299C218.472 25.3814 219.5 26.5349 220.041 27.659C220.56 28.7361 220.657 29.828 220.238 31.0204C219.801 32.2645 218.76 33.7306 216.772 35.389C214.478 37.3035 211.816 39.086 209.018 40.6573C207.237 41.6571 205.337 42.509 203.358 43.3114C208 39.0864 209.977 34.5924 209.111 30.0205C208.195 25.192 204.19 20.8493 198.336 17.0783C197.805 16.7358 197.265 16.4025 196.719 16.0783Z" fill="%23D7DB2D"/></svg>');
          position: left center;
          size: 100% auto;
          repeat: no-repeat;
        }
      }
    }
  }
}

.btn {
  position: relative;
  display: flex;
  width: 180px;
  height: 64px;
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
  box-sizing: border-box;
  border-radius: 24px;
  background: #222;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 0px 0px 0px #d7db2d;

  &.white,
  &.stroke {
    color: var(--Text-heads-black, #222);
    background: #fff;
  }

  &.white {
    border: none;
    box-shadow: 0px 0px 0px 0px var(--Text-heads-black, #222);
  }

  &.stroke {
    box-shadow: none;
    border: 1px solid var(--Button-primary-black, #222);

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      // border: 2px solid #D7DB2D;
      box-shadow: 0px 2px 0px 0px #d7db2d;
      border-radius: 24px;
      opacity: 0;
      transition: all ease-in-out 0.3s;
    }
  }

  &:hover {
    box-shadow: 0px 8px 0px 0px #d7db2d;

    &.white {
      border: none;
      box-shadow: 0px 8px 0px 0px var(--Text-heads-black, #222);
    }

    &.stroke {
      box-shadow: none;

      &::after {
        opacity: 1;
        top: 8px;
      }
    }
  }
}

.content {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 152px;
  padding-left: 72px;
  padding-right: 72px;
  position: relative;
}
.content.main-page {
  padding: 0;
  max-width: 1440px;
}

//main form footer
@import "css/components/footer.scss";
